*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.property-head > img{
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
}

.property-head{
    width: 100vw;
    height: 38rem;
}