.searchbar-container {
  height: auto;
  background: white;
}

.search-btn {
  width: 8rem;
  height: 2rem;
  border: none;
  text-align: center;
  cursor: pointer;
}

.search-btn-container {
  width: 17rem;
  position: absolute;
  left: 39%;
  z-index: 10;
  top: 41rem;
}

.buy-btn {
  background-color: #00d4ff;
  color: white;
}

.input-container {
  width: 68.5vw;
  margin: auto;
  border: 4px solid #00d4ff;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.1rem;
}

.property-container {
  width: 13rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 0.5rem;
}

.property-container:hover {
  border: 2px solid #00d4ff;
}

.property-text {
  padding-left: 1rem;
}

.inputs {
  border: none;
  padding-left: 1rem;
  height: 1rem;
  width: 11rem;
  text-transform: capitalize;
  color: rgb(172, 172, 172);
}

.inputs:focus {
  outline: none;
}

.searching-btn {
  height: 2.4rem;
  background-color: #00d4ff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
}

.location-icon {
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
  margin-left: 0.2rem;
}

.input-loc{
    width: 10.1rem;
    padding-left: 0;
}

.rent-container{
  display: none;
}

.input-p{
  background:transparent;
}

@media screen and (max-width:300px) {
  .input-container{
    height: 13rem;
    width: 14rem;
  }
  .search-btn-container{
    top: 19rem;
    left: 3rem;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  } 
}

@media screen and (max-width:350px) and (min-width:301px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
  }
  .search-btn-container{
    top: 19rem;
    left: 19%;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    width: 17rem;
    margin-left: 0;
  }
  .inputs{
    width: 17rem;
  }
  .input-loc{
    width: 15rem;
  }
}

@media screen and (max-width:380px) and (min-width:351px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
  }
  .search-btn-container{
    top: 19rem;
    left: 5.5rem;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    margin-left: 0;
    width: 90%;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 90%;
  }
}

@media screen and (max-width:400px) and (min-width:380px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
    overflow-x: hidden;
  }
  .search-btn-container{
    top: 19rem;
    left: 25%;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    margin-left: 0;
    width: 90%;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 90%;
  }
}

@media screen and (max-width:500px) and (min-width:401px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
  }
  .search-btn-container{
    top: 19rem;
    left: 25%;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    margin-left: 0;
    width: 90%;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 90%;
  }
}

@media screen and (max-width:600px) and (min-width:501px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }
  .search-btn-container{
    top: 33rem;
    left: 32%;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    margin-left: 0;
    width: 90%;
    margin-top: 0.5rem;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 90%;
  }
}

@media screen and (max-width:799px) and (min-width:711px) {
  .search-btn-container{
    top: 29rem;
    left: 32%;
   } 
   .input-container{
    width: 43rem;
    margin-top: 1.5rem;
   }
   .property-container{
    width: 10rem;
   }
   .inputs{
    width: 7rem;
   }
   .input-loc{
    width: 6rem;
   } 
   .input-p{
    padding-left: 1rem;
    width: 8rem;
   }
}

@media screen and (max-width:710px) and (min-width:600px) {
  .input-container{
    height: 13rem;
    width: 95vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }
  .search-btn-container{
    top: 33rem;
    left: 32%;
    width: auto;
  }
  .search-btn{
    width:6rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .searchbar-container{
    margin-top: 5rem;
  }
  .property-container{
    margin-left: 0;
    width: 94%;
    margin-top: 0.5rem;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 90%;
  }
}

@media screen and (max-width:900px) and (min-width:800px) {
 .search-btn-container{
  top: 29.5rem;
  left: 35.2%;
 } 
 .input-container{
  width: 47rem;
  margin-top: 1.7rem;
 }
 .property-container{
  width: 11rem;
 }
 .inputs{
  width: 9rem;
 }
 .input-loc{
  width: 8rem;
 }
}

@media screen and (max-width:1000px) and (min-width:901px) {
  .search-btn-container{
    top: 29.5rem;
    left: 36%;
   } 
   .input-container{
    width: 95vw;
    margin-top: 1.7rem;
   }
   .property-container{
    width: 12.8rem;
   }
   .inputs{
    width: 13rem;
   }
   .input-loc{
    width: 11.5rem;
   }
}


@media screen and (max-width:1050px) and (min-width:1000px) {
  .search-btn-container{
    top: 33.5rem;
    left: 37.5%;
   } 
   .input-container{
    width: 95vw;
    margin-top: 1.7rem;
   }
   .property-container{
    width: 14.2rem;
   }
   .inputs{
    width: 14rem;
   }
   .input-loc{
    width: 13rem;
   }
}

@media screen and (max-width:1100px) and (min-width:1050px) {
  .search-btn-container{
    top: 35rem;
    left: 37.5%;
   } 
   .input-container{
    width: 95vw;
    margin-top: 1.7rem;
   }
   .property-container{
    width: 15rem;
   }
   .inputs{
    width: 14rem;
   }
   .input-loc{
    width: 13rem;
   }
}

@media screen and (max-width:1200px) and (min-width:1100px) {
  .search-btn-container{
    top: 37rem;
    left: 38%;
  }
  .input-container{
    margin-top: 0.7rem;
    width: 95vw;
    justify-content: center;
    margin: 1.5rem;
  }
  .property-container{
    width: 15rem;
  }
  .inputs{
    width: 98%;
  }
  .input-loc{
    width: 92%;
  }
}
