.section-2{
    text-align: center;
    margin-top: 2.5rem;
    transform: translateY(8rem);
    transition: all 1s ease;
    opacity: 0;
}

.section-2 > h1{
    font-size: 2.9rem;
    color: rgba(0, 0, 0, 0.9);
    width: 40rem;
    text-align: center;
    margin: auto;
    margin-top: 0.2rem;
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width:600px) and (min-width:301px) {
    .section-2{
        margin-top: 3rem;
    }
    .section-2 > h1{
        font-size: 2rem;
        width: 20rem;
    }   
}

@media screen and (max-width:300px) {
    .section-2{
        margin-top: 3rem;
    }
    .section-2 > h1{
        font-size: 1.5rem;
        width: 15rem;
    }
}